:root {
    --menu-width: 265px;
    --menu-width-close: -265px;
    --margin-left-nav-item: 24px;
    --title-menu-color: #aaa;
    --hamburger-button-active: rgb(72, 72, 72);
    --menu-border-color: rgb(115, 115, 115);
    --menu-short-width:
}

.sticky-menu {
    position: fixed;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    overflow: hidden;
}

.short-menu {
    overflow: hidden;
    position: relative;
    height: 100vh;
    width: 10%;
    min-width: 100px;
    display: flex;
    left: 0;
    top: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--dark-theme);
}

.nav-logo-short {
    width: 20px;
    height: 20px;
}

.nav-item-short p {
    color: var(--dark-text);
    font-family: var(--font);
    font-size: var(--font-Xsmall);
}

.hamburger-button-home {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    top: 5px;
    left: 5px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-bottom: 10px;
    cursor: pointer;
}

.short-menu-items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.nav-item-short {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 20px 20px 20px 20px;
}

.nav-item-short:hover {
    background-color: rgb(42, 42, 42);
}

.menu-hamburger-relative {
    position: relative;
}

.header-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-items {
    border-top: 1px var(--menu-border-color) solid;
    border-bottom: 1px var(--menu-border-color) solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.hamburger-menu-container {
    position: fixed;
    overflow: hidden;
    top: 0;
    height: 100vh;
    left: var(--menu-width-close);
    background-color: var(--dark-theme);
    width: var(--menu-width);
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    overflow-y: scroll;
}

.hamburger-menu-container p {
    color: var(--dark-text);
    font-family: var(--font);
    font-size: var(--font-small);
    line-height: 1.5rem;
    font-weight: 400;
}

.nav-logo {
    width: 24px;
    height: 24px;
    margin-right: 20px;
    margin-left: 5px;
}

.nav-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: var(--margin-left-nav-item);
    cursor: pointer;
}


.hamburger-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    top: 5px;
    left: 5px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}

.lines {
    height: 15px;
    width: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.line {
    height: 1px;
    width: 18px;
    background-color: var(--dark-text);
}

.hamburger-button:active {
    background-color: var(--hamburger-button-active);
}

.hamburger-button-home:active {
    background-color: var(--hamburger-button-active);
}

.logo-header-menu {
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 200px;
    height: 50px;
}

.nav-item:hover {
    background-color: var(--elements-hover);
}

.menu-subscriptions {
    margin-top: 15px;
}

.title-subscriptions {
    cursor: pointer;
    color: var(--title-menu-color);
    letter-spacing: 0.5px;
    font-weight: bold;
    font-size: var(--font-small);
    margin-left: var(--margin-left-nav-item);
    font-family: var(--font);
}

.title-others {
    cursor: pointer;
    color: var(--title-menu-color);
    letter-spacing: 0.5px;
    font-weight: bold;
    font-size: var(--font-small);
    margin-left: var(--margin-left-nav-item);
    font-family: var(--font);
    margin-top: 15px;
}

.links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.menu-text-footer {
    margin-top: 10px;
    cursor: pointer;
    color: var(--title-menu-color);
    letter-spacing: 0.5px;
    font-weight: bold;
    font-size: 15px;
    margin-left: var(--margin-left-nav-item);
    font-family: var(--font);
}

.copyright {
    font-size: 10px;
}