.explorer-container {
    margin-top: var(--header-height);
    width: 100%;
    height: fit-content;
}

.explorer-container * {
    color: white;
    max-height: 116px;
}

.categories-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.category-explorer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: rgb(33, 33, 33);
    width: 210px;
    border-radius: 5px;
    padding: 0 30px;
}


.category-content {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.category-explorer-title{
    font-family: var(--font);
    font-weight: bold;
}