.wrap--from {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: center;
    margin-top: 5%;
}

.form--register {
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 25px 25px;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form--register h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
#previewProfile {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    border: none;
    object-fit: cover;
}
.custom-file {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}
.label-file {
    cursor: pointer;
    color: #00b1ca;
    font-weight: bold;
}
.label-file:hover {
    color: #25a5c4;
}

.input-file {
    display: none;
}
.input--register {
    display: block;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    border-radius: 20px;
}
::placeholder {
    color: #e5e5e5;
}
.btn--register {
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.wrapper-part {
    display: flex;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
}

.error--warning {
    border: 1px solid rebeccapurple;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 5%;
    color: red;
    box-shadow: -2px -2px 0px 4px;
}
.backtoback {
    margin-top: 5%;
}
.backtoback a {
    color: hotpink;
}
.backtoback a:hover {
    color: var(--primary-color);
}
.wrap--form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
