:root {
    --primary-color: rgb(185, 15, 15);
    --secondary-color: rgb(158, 12, 12);

    --dark-theme: rgb(12, 12, 12);
    --dark-text: rgb(255, 255, 255);

    --bright-theme: rgb(255, 255, 255);
    --bright-text: rgb(20, 20, 20);

    --elements-hover: rgb(42, 42, 42);

    --font: 'Roboto', sans-serif;
    --font-Xsmall: 0.6rem;
    --font-small: 0.9rem;
    --font-medium: 1.15rem;
    --font-large: 1.8rem;
    --font-Xlarge: 2.3rem;

    --margin-left-nav-item: 24px;
    --title-menu-color: #aaa;
    --hamburger-button-active: rgb(72, 72, 72);
    --menu-border-color: rgb(115, 115, 115);
    --background-color-nav: #202020f3;
    --header-height: 208px;
    --navBar-height: 88px;
    --height-page: 98px;
}

body {
    background-color: var(--dark-theme);
}

.page-content {
    width: 100%;
    overflow: scroll;
    background-color: var(--dark-theme);
}

.page-content div {
    height: 2000px;
}

.page {
    width: 100%;
}

.content {
    position: fixed;
    display: flex;
    width: 100%;
}

.menus {
    margin-top: var(--navBar-height);
}