.MetaTubePremium-container{
    background-image: url(../img/MetaTubePremium/ytk_lp2_hero_white_desktop_2880x1200.png);
    padding: var(--ytd-margin-24x) 0 var(--ytd-margin-12x);
    background-position: center top;
    background-size: cover;
    min-height: 800px;
    text-align: center;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button-container{
    padding: 3%;
    display: flex;
}

button.btn-free {
    border-radius: 10px;
    border: 1px solid blue;
    padding: 10px;
    background-color: royalblue;
    color: white;
    font-weight: bold;
}

.premium-p{
    font-size: 50px;
    font-weight: lighter;
    margin: 0;

}

.link-premium{
    color:royalblue;
    font-weight: bold;
}

.container2{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #181818;
}

.ad-free{
    width: 312px;
    margin-top: 64px;
    margin-bottom: 64px;
    margin-right: 24px;
}

.no-add-play-logo{
    width: 86px;
    height: 84px;
    padding-bottom: 16px;
}

p.text-ad{
    color: #fff;
    font-size: 32px;
    font-weight: 300;
    padding-bottom: 16px;
    margin:0px;
}

p.text-ad2{
    color: #fff;
    font-size: 16px;
    line-height: 1.5;
    margin: 0px;
}

.container-slides{
    display: flex;
    flex-direction: column;
}
.container-ad-free{
    background-image: url('../../../front-end/assets/img/MetaTubePremium/ytr_lp2_story1_adfreetxtright_desktop_2880x1620.jpeg');
    box-sizing: border-box;
    min-height: 550px;
    padding: 24px;
    background-position: center top;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1050px){
    .container-ad-free{
        min-height: 400px;
    }
}

.message{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
}

.title-adFree{
    font-size: 50px;
    color:#fff;
    font-weight: 300;
    line-height: 1.16;
    opacity: 0.87;
    margin: 0;
    font-weight: bold;
}

.message-adFree{
    color: #fff;
    opacity: 0.7;
    margin-top: 16px;
    font-size: 1.8rem;
    line-height:1.5;
    margin-bottom: 0;
    text-align: center;
}

.container-download{
    background-image: url("../../../front-end/assets/img/MetaTubePremium/ytr_lp2_story2_download_desktop_2880x1620.jpeg");
    box-sizing: border-box;
    min-height: 550px;
    padding: 24px;
    background-position: center top;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container-background-play{
    background-image: url("../../../front-end/assets/img/MetaTubePremium/ytr_lp2_story3_bkg_desktop_2880x1620.jpeg");
    box-sizing: border-box;
    min-height: 550px;
    padding: 24px;
    background-position: center top;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container-metatube-music-premium{
    background-image: url("../../../front-end/assets/img/MetaTubePremium/ytr_lp2_story4_musictxtright_desktop_2880x1620.jpeg");
    box-sizing: border-box;
    min-height: 550px;
    padding: 24px;
    background-position: center top;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.title-dlgo{
    font-size: 50px;
    color:#fff;
    font-weight: 300;
    line-height: 1.16;
    opacity: 0.87;
    margin: 0;
    font-weight: bold;
}

.title-bkplay{
    font-size: 50px;
    color:#fff;
    font-weight: 300;
    line-height: 1.16;
    opacity: 0.87;
    margin: 0;
    font-weight: bold;
}

.title-music-prem{
    font-size: 50px;
    color:#fff;
    font-weight: 300;
    line-height: 1.16;
    opacity: 0.87;
    margin: 0;
    font-weight: bold;
}