.dropbtn {
    border: none;
    cursor: pointer;
    border-radius: 50%;
    background: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 400px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin: 12px 0px 0px -50px;
    width: 200px;
    background-color: var( --secondary-color);
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
}

.dropdown a:hover {
    background-color: #999999;
}

.show {
    display: block;
    left: -180px;
}
.btn--navbar--register {
    padding:10px 30px;
    background: #858585;
}
.btn--navbar--icon {
    padding: 10px 30px;
    border-radius: 100px;
}
a {
    text-decoration: none;
    color: var(--dark-text);
}
.btn--logo--nav {
    width: 50%;
    background: none;
    border: none;
}
.box--navbar {
    width: 100%;
    max-width: 1700px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.navbar--logo {
    color: var(--dark-text);
}
.wrapper--navbar {
    background-color: #202020;
    padding: 12px 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 300;
}
.navbar--side {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    width: 25%;
}
.navbar--center {
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
}

.navbar__center__input {
    background: #121212;
    width: 70%;
    max-width: 600px;
    border: 1px solid #313131;
    padding: 6px;
    margin: 0;
    outline: none;
    color: #858585;
    font-size: 1em;
}
.navbar__center__input::placeholder {
    color: #858585;
    padding-left: 0.2em;
}
.navbar__center__input:focus {
    border: 1px solid #2da0ff;
}
.navbar__center__search-btn {
    padding: 6px 30px;
    background: #313131;
    color: #858585;
    border: none;
    margin: 0;
    max-width: 20%;
}

.profil--connect--user {
    border-radius: 50%;
}

.drop-profil {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 5%;
}
.drop--element {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

#logo--metatube{
    width: 125px;
}
