.MetaStudio-content-global h1,h2,h3,h4,h5 {
    margin: 0%;
    padding: 0%;
}

.MetaStudio-content-global{
    overflow: hidden;
    background-color: var(--elements-border);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
    color: white;
}


#MetaStudio-title-h1{
    margin-top: 10%;
    padding-left: 3vw;
}
.MetaStudio-separator-rgb{
  top:0%;
  right: 0%;
  left: 0;
  bottom: 0%;
  border: 0.3px solid ;
  padding-bottom: 0.3%;
  background: linear-gradient(-45deg, #ee7752,
  #e73c7e, #23a6d5, #23d5ab, #d57f23, #d5c923);
  background-size: 300% 300%;
  animation: gradient 15s ease infinite;
    width : 100%;
    left: 0;
   display: inline-block;
}

.MetaStudio-selected-category{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
}

.MetaStudio-selected-video,.MetaStudio-selected-commentary{
    margin-top: 2vh;
}


.MetaStudio-selected-video{
    padding-left: 3vw;
}

.MetaStudio-selected-commentary{
    padding-left: 10%;
}

.MetaStudio-filter-bar{
    margin:4% 0%;
}

.MetaStudio-user-video-config{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: normal;
        align-items: normal;
        align-content: normal;
        margin-bottom: 10%;

}
.MetaStudio-user-video-config h4{
    opacity: 0.8;
    width : 100%;
    left: 0;
    display: inline-block;


}

.MetaStudo-user-video-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
    width: 100%;

}

.MetaStudio-videolist{
    text-align:left;
    padding-left: 2%;
    padding-right: 15%;
}
.MetaStudio-visibilitylist,.MetaStudio-restrictionlist,.MetaStudio-datelist,.MetaStudio-viewlist,.MetaStudio-numbercommentarylist,.MetaStudio-likelist{
text-align: center;
}



.MetaStudio-user-video-template{
   display: flex;
   width: 100%;
}

.MetaStudio-stats{
   
    font-size:2rem;
    background: #3e3e3e;
    color: #ffffff;
    width: 100%;
    height: auto;
    padding: 0.6vh 1.6vw;
    border-top: 3px solid #ababab;
    border-bottom: 3px solid #ababab;
    background: linear-gradient(-45deg, #ee7752,
    #e73c7e, #23a6d5, #23d5ab, #d57f23, #d5c923);
    background-size: 300% 300%;
    animation: gradient 15s ease infinite;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.53);
    -webkit-box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.53);
  }
  .MetaStudo-user-video-this-visibility{
   padding-left: 50px;
    
  }

  .MetaStudo-user-video-this-restriction,.MetaStudo-user-video-this-date,.MetaStudo-user-video-this-vues,.MetaStudo-user-video-this-commentary,.MetaStudo-user-video-this-like{
    padding-left: 50px;

  }

