.main-page{
    background-color: #282828;
    overflow: auto;
    display: flex;
    flex: 1;
    position: relative;
}

.all-pages {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    min-width: 0;
    z-index: 0;
}

.title-header{
    color: #fff;
    margin-top: 50px;
}

.page-title-container{
    display: flex;
    position: relative;
    max-width: 1278px;
    min-height: 48px;
}

.title-channel-page{
    white-space: initial;
    overflow: initial;
    text-overflow: initial;
    font-family: "YouTube Sans","Roboto","Arial",sans-serif;
    font-weight: 600;
    font-size: 25px;
    line-height: 32px;
    flex-shrink: 1;
    left: 0;
    padding-left: 32px;
    padding-top: 23px;
    position: sticky;
    position: -webkit-sticky;
    white-space: nowrap;
}

.container-buttons{
    position: absolute;
    right: 0;
    bottom: 0;
    color: #fff;
    display: flex;
    margin: 16.75px;
}

.btn1{
    margin-left: 16px;
}

.upload-btn{
    background-color: #282828;
    border:1px solid #717171;
    border-radius: 50%;
    padding: 8px;
}

.upload-logo{
    width: 16px;
}

.golive-logo{
    width: 16px;
}

.golive-btn{
    background-color: #282828;
    border:1px solid #717171;
    border-radius: 50%;
    padding: 8px;
}

.channel{
    padding: 24px 24px 0 0;
    min-height: calc(100% - (168px + 24px));
}

.dashboard-cards{
    justify-content: flex-start;
    max-width: calc(1848px - 24px);
}

.card-colomn{
    flex: none;
    color:#fff;
    margin-bottom: 24px 48px;
    overflow: hidden;
}

.card-upload{
    display: flex;
    flex-direction: column;
    font-family: "Roboto","Noto",sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    font-size: 13px;
    line-height: 20px;
    background-color: #282828;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.card-video-upload{
    display: flex;
    flex-direction: column;
    --margin-top-text-lines: 12px;
    padding: 10px;
}

.main-container-card{
    align-items: center;
    background-color: #282828;
    border: 1px dashed rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
}

.img-card-upload{
    height: 152px;
    margin-top: 105px;
    width: 152px;
}

.img-container{
    width: 100%;
}

.p-container{
    font-family: "Roboto","Noto",sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    font-size: 13px;
    line-height: 20px;
    color: #aaa;
    text-align: center;
}

.button-container{
    margin-bottom: 124px;
    margin-top: 20px;
}

.btn-upload{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    color: #0d0d0d;
    background-color: #3ea6ff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    flex: 1 1;
    padding: 20px;
    font-weight: bold;
    text-align: center;
}

.card-analytics{
    display: flex;
    flex-direction: column;
    font-family: "Roboto","Noto",sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 24px 48px;
    overflow: hidden;
}

.elements-container-dashboard{
    color: #fff;
    display: flex;
    flex-direction: column;
    padding-bottom: 12px;
}

.title-analytic{
    font-family: "Roboto","Noto",sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    padding-top: 22px;
    padding-bottom: 0px;
    padding-left: 24px;
    padding-right: 24px;
}

.container-p-analytics{
    padding-right: 24px;
}

.txt-analytics{
    font-family: "Roboto","Noto",sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    font-size: 13px;
    line-height: 20px;
    color: #fff;
    padding-top: 11px;
    padding-bottom: 0;
}

hr{
    width: auto;
    margin-bottom: 0;
    margin-left: 24px;
    margin-right: 24px;
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.summary-container{
    font-family: "Roboto","Noto",sans-serif;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    font-size: 13px;
    line-height: 20px;
    color: #fff;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 13px;
    padding-bottom: 6px;
}

.title-summary{
    font-family: "Roboto","Noto",sans-serif;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    font-size: 15px;
    line-height: 24px;
    color: #fff;
    padding-top: 0;
}

.date-summary{
    font-family: "Roboto","Noto",sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0.011em;
    font-size: 12px;
    line-height: 16px;
    color: #fff;
    padding-bottom: 0;
    display: block;
}

p.title-analytics {
    font-weight: bold;
    font-size: 16px;
}

